<div th:fragment="footer">

<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2019 - All Rights Reserved - <a href="t.me/aca_2018"> мы работаем быстро и плохо </a></p>
    <p class="fl_right">Template by <a th:href="@{/about}">DreamTeam</a></p>
    <!-- ################################################################################################ -->
  </div>
  <script th:src="@{/scripts/search.js}"></script>
</div>

</div>