
<div th:fragment="left_sidebar">
    <div class="sidebar one_quarter first">
      <!-- ################################################################################################ -->
     <h6>Random Books</h6>
           <nav class="sdb_holder">
             <ul class="sidebar_ul">
                <li th:each="book : ${randomBooks}">
                    <a th:href="'/books?id=' + ${book.id}"> <img th:src="${book.book.imageRef}" th:alt="${book.book.title}"></a>
                </li>
             </ul>
           </nav>
      <!-- ################################################################################################ -->
    </div>
 </div>