<div th:fragment="partners">
   <div class="container" style="text-align: center; max-width: 80%">
      <div class="col-md-12" style="display: inline-block">
         <div class="row" style="display: inline-block">
            <div class="block-heading">
               <h2>Our Partners</h2>
            </div>
         </div>
         <div id="our-partners" class="owl-carousel" style="display: inline-block">
            <div><a target="_blank" href="https://aca.am/" title="Armenian Code Academy"><img class="owl_img" th:src="@{/images/partners/aca.png}" alt=""></a></div>
            <div><a target="_blank" href="https://www.betconstruct.com/" title="Betconstruct"><img class="owl_img" th:src="@{/images/partners/betconstruct.png}" alt=""></a></div>
            <div><a target="_blank" href="https://www.helix.am/" title="Helix Consulting LLC"><img class="owl_img" th:src="@{/images/partners/helix.png}" alt=""></a></div>
            <div><a target="_blank" href="https://picsart.com/" title="PicsArt"><img class="owl_img" th:src="@{/images/partners/picsart.png}" alt=""></a></div>
            <div><a target="_blank" href="https://sflpro.com/" title="SFL - who knows what it means?"><img class="owl_img" th:src="@{/images/partners/sfl.png}" alt=""></a></div>
            <div><a target="_blank" href="https://www.synisys.com/" title="Synergy International Systems"><img class="owl_img" th:src="@{/images/partners/synergy.png}" alt=""></a></div>
            <div><a target="_blank" href="https://www.workfront.com/" title="Workfront"><img class="owl_img" th:src="@{/images/partners/workfront.png}" alt=""></a></div>
         </div>
      </div>
   </div>
</div>