<div th:fragment="partners">

  <section id="call-to-area">
    <div class="container" style="text-align: center">
      <div class="row">
        <div class="col-md-8" style="display: inline-block; float: none">
          <div class="block">
            <div class="block-heading">
              <h2>Our Partners</h2>
            </div>
          </div>	<!-- End of /.block -->
          <div id="our-partners" class="owl-carousel" style="opacity: 1; display: block">
            <div><a target="_blank" th:href="@{https://aca.am}" title="Armenian Code Academy"><img class="owl_img" th:src="@{/images/partners/aca.png}" alt=""></a></div>
            <div><a target="_blank" th:href="@{https://www.betconstruct.com}" title="Betconstruct"><img class="owl_img" th:src="@{/images/partners/betconstruct.png}" alt=""></a></div>
            <div><a target="_blank" th:href="@{https://www.helix.am}" title="Helix Consulting LLC"><img class="owl_img" th:src="@{/images/partners/helix.png}" alt=""></a></div>
            <div><a target="_blank" th:href="@{https://picsart.com}" title="PicsArt"><img class="owl_img" th:src="@{/images/partners/picsart.png}" alt=""></a></div>
            <div><a target="_blank" th:href="@{https://sflpro.com}" title="SFL - who knows what it means?"><img class="owl_img" th:src="@{/images/partners/sfl.png}" alt=""></a></div>
            <div><a target="_blank" th:href="@{https://www.synisys.com}" title="Synergy International Systems"><img class="owl_img" th:src="@{/images/partners/synergy.png}" alt=""></a></div>
            <div><a target="_blank" th:href="@{https://www.workfront.com}" title="Workfront"><img class="owl_img" th:src="@{/images/partners/workfront.png}" alt=""></a></div>
          </div>	<!-- End of /.Owl-Slider -->
        </div>	<!-- End of /.col-md-12 -->
      </div> <!-- End Of /.Row -->
    </div> <!-- End Of /.Container -->
  </section>	<!-- End of Section -->

</div>