*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: lightgrey;
    margin: 0;
    font: 16px/1.5em Helvetica Neue, Arial, sans-serif;
    cursor: default;
}

/* UniNews styles */


.dialogs_div{
    width: 20%;
    float: left;
    overflow: hidden;
    display: block;
}

.dialog_div{
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
    color: #887a7a;
    margin: 5px 5px 5px 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);

}

.book_div{
    background-color: rgba(150, 148, 150, 0.6313725490196078);
    width: 90%;
    height: 70%;
    min-width: 80%;
    position: fixed;
    padding: 50px;
    top: 10%;
    left: 10%;
    border: 1px solid;
    overflow-y: scroll;
    border-radius: 5px;
}

.book_ul li{
    display: inline-block;
    width: 20%;
    height: 30%;
    margin: 15px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.book_img{
    width: 150px;
    height: 200px;
    margin: 0 auto;
    display: block;
}

.book_p{
    width: 100%;
    position: absolute;
    font-weight: bolder;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background: #ededed85;
    color: white;
    padding: 5%;
    bottom: 5%;
    left: 5%;
    display: none;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.8em;
}

.book_ul li {
    border: 1px solid;
    box-shadow: 3px 5px;
}

.book_ul li:hover .book_p{
    display: block;
}

.book_div span{
    color: red;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.message_input{
    position: absolute;
    width: 100%;
    bottom: 10px;
}

/*------------*/

#send{
    width: 10% !important;
    right: 0;
    cursor: pointer;
}

#userTo{
    text-align: center;
    background: #cccfe7;
    border-radius: 15px;
    border: 1px solid gray;
    font-weight: bolder;
    padding: 10px;
    color: #573f3f;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
}

#un-chat {
    position: relative;
    min-width: 80%;
    float: right;
    border-radius: 15px;
    max-width: 80%;
    min-height: 500px;
    max-height: 500px;
    height: 100%;
    margin: 0 auto;
    background-color: #bed6c1;
    padding-bottom: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    overflow-y: scroll;
}

#un-chat ul {
    margin: 0;
    padding: 5px 0 25px;
    list-style: none;
    height: 100%;
    overflow: auto;
}

#un-chat li > div,
#un-chat li.typing::before{
    display: inline-block;
    background-color: white;
    max-width: 50%;
    margin: 10px 15px 0 15px;
    padding: 7px 13px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .168);
}

#un-chat li.me {
    text-align: right;
}

#un-chat li:not(.me) > div,
#un-chat li.typing::before {
    border-top-left-radius: 2px;
}

#un-chat li.me > div {
    color: white;
    background-color: #573f49;
    border-bottom-right-radius: 2px;
    text-align: left;
}

#un-chat li:not(.me) + li:not(.me) > div,
#un-chat li.me + li.me > div {
    margin-top: 4px;
}

#un-chat li.typing::before {
    content: '...';
    font-size: 24px;
    line-height: 16px;
    padding-top: 0;
    padding-bottom: 15px;
    color: black;
    animation-name: typing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#un-chat li:last-child {
    position:sticky;
    bottom:0;
}

#un-chat form {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 10px;
}

#un-chat input {
    width: 90%;
    float: left;
    font-size: 20px;
    padding: 5px 10px;
    border: 1px solid lightgrey;
    border-radius: 17px;
    bottom: 10px;
}

@keyframes typing {
    0% {
        color: black;
    }

    35% {
        color: whitesmoke;
    }

    70% {
        color: grey;
    }

    100% {
        color: black;
    }
}